html {
  height: 100%;
  width: 100%;
}

body {
  font-family: sans-serif;
}

nav {
  font-weight: bold;
  padding-top: 10px;
  width: 100%;
  text-align: center;
  height: 40px;
  background-color: #c38ff5;
}

a {
  color: #4803b0;
}

.website {
  color: black;
}